.sell {
  .agreement-banner-text {
    background-image: linear-gradient(
      to right bottom,
      #88b3f9,
      #8cbefb,
      #93c9fb,
      #9ed3fb,
      #acddfb,
      #aee0fc,
      #b0e4fc,
      #b2e7fd,
      #a5e5fe,
      #97e4fe,
      #87e2fe,
      #76e1fe
    );
    padding: 30px 16px 30px;
    border-radius: $border-radius-primary;
  }

  .agreement-banner {
    margin: 0 auto;
    width: 250px;

    @include media-breakpoint-up(md) {
      width: 300px;
    }
  }
}

.merchant-dashboard {
  .merchant-box {
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-secondary;
  }
}
