.shop-page {
  .main {
    background-image: linear-gradient(
      to right bottom,
      #88b3f9,
      #8cbefb,
      #93c9fb,
      #9ed3fb,
      #acddfb,
      #aee0fc,
      #b0e4fc,
      #b2e7fd,
      #a5e5fe,
      #97e4fe,
      #87e2fe,
      #76e1fe
    );
    // background-color: $theme-white;
  }

  .shop-toolbar {
    border-radius: $border-radius-primary;
    box-shadow: $box-shadow-primary;
  }
}
